langchain
langchain-openai
langchain-community
langchain-groq
rich
youtube-search
wikipedia
langgraph
langchain-experimental
playwright
langchain-ollama
langfuse
python-dotenv
playwright
markdownify
unstructured[all-docs] # Depends on poppler, libmagic, libreoffice, pandoc, tesseract
paddlepaddle
unstructured.paddleocr